# Google Cloud API
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

discord.py-self[voice]
pynacl
openai
python-dotenv

# TTS
kokoro-onnx
soundfile

# Speech recognition
faster-whisper
numpy
scipy
